extends ./../partials/admin_header
block main
  input.display-none#product(value=JSON.stringify(product))
  .header-wrapper
    .header-title-wrapper
      span.header-title= product.name
      span.header-info Bu sayfadan ürünü düzenleyebilirsiniz
    a.add-to-window-button(href=`/admin/window/add?id=${product._id}`) Vitrine Ekle
    a.delete-product-button(href=`/admin/details/delete?id=${product._id}`) Ürünü Sil
  .content-wrapper
    form.edit-product-form(action=`/admin/details?id=${product._id}` method="POST")
      span.form-title Ürünü Düzenle
      span.input-title Kategori
      .category-wrapper
        each category in categories
          if product.category == category._id
            label.each-category
              input(type="radio" checked required name="category" value=category._id.toString())
              span= category.name
          else
            label.each-category
              input(type="radio" required name="category" value=category._id.toString())
              span= category.name
      span.input-title Ürün ismi
      input.form-input(type="text" name="name" placeholder="Ürün İsmi" required autocomplete="off" value=product.name)
      span.input-title Ürün tipi
      .category-wrapper
        label.each-category
          input.type-input(type="radio" required name="type" value="paket")
          span Paket
        label.each-category
          input.type-input(type="radio" required name="type" value="boy")
          span Boy
        label.each-category
          input.type-input(type="radio" required name="type" value="metre")
          span Metre
        label.each-category
          input.type-input(type="radio" required name="type" value="adet")
          span Adet
        label.each-category
          input.type-input(type="radio" required name="type" value="MDF")
          span MDF
        label.each-category
          input.type-input(type="radio" required name="type" value="lake")
          span Lake
        label.each-category
          input.type-input(type="radio" required name="type" value="membran")
          span Membran
        label.each-category
          input.type-input(type="radio" required name="type" value="rulo")
          span Rulo
        label.each-category
          input.type-input(type="radio" required name="type" value="top")
          span Top
      span.input-title Ürün Açıklaması
      textarea.form-input(type="text" name="description" placeholder="Ürün Açıklaması" required autocomplete="off")= product.description
      span.input-title Anahtar Kelimeler (Bu kelimeler arama sonuçları listelenirken kullanılacaktır.)
      textarea.form-input(type="text" name="keywords" placeholder="Anahtar Kelimeler (Aralarda boşluk bırakarak yazınız)" required autocomplete="off")= product.keywords.join(" ")
      span.input-title Fiyat
      input.form-input(type="text" name="price" placeholder="Fiyat" required autocomplete="off" value=product.price)
      span.input-title Ürün Fiyatı Dolar Cinsinden Mi Olacak?
      if product.isDolar
        input.form-input(type="checkbox" name="isDolar" checked)
      else
        input.form-input(type="checkbox" name="isDolar")
      span.input-title Ürünü indirimli olarak işaretle (Girdiğiniz indirim miktarının geçerli olması için önce ürünü indirimli olarak işaretlemelisiniz.)
      if product.onSale
        input.form-input(type="checkbox" name="onSale" checked)
      else
        input.form-input(type="checkbox" name="onSale")
      span.input-title İndirim Miktarı % (Lütfen indirim miktarını yüzde üzerinden girin. ör: 50)
      input.form-input(type="text" name="saleAmount" placeholder="İndirim Miktarı" required autocomplete="off" value=product.saleAmount)
      span.input-title Ürün Fotoğrafları (max 5)
      .images-outer-wrapper
        .images-wrapper
          input.display-none#file-name-array(type="text" name="productPhotoNameArray")
          each photo in product.productPhotoArray
            if photo != "/res/images/notAvailablePhoto.jpg"
              .each-product-photo
                img(src=photo)
                i.each-product-edit-icon.fas.fa-trash(onclick="return confirm('Bu resmi silmek istediğinize emin misiniz?')")
          label.add-new-button
            i.fas.fa-plus
            input.display-none#product-image-input(type="file" name="photo" accept="image/*")
      .form-send-wrapper
        button.send-form-button Kaydet
