extends ./../partials/admin_header
block main
  .header-wrapper
    .header-title-wrapper
      span.header-title Ürünler Sayfası
      span.header-info Bu sayfadan yeni ürünler ekleyebilir veya bir ürünü düzenleyebilirsiniz. Düzenlemek için ürünün üzerine tıklayın.
    .new-product-button Yeni Ürün Ekle
  .content-wrapper
    .products-wrapper
      each product in products
        a.each-product-wrapper(href=`/admin/details?id=${product._id}`)
          .product-left-side
            .product-image-wrapper
              img.main-product-image(src=product.productPhotoArray[0])
            .product-images-menu
              img.product-menu-image.selected-menu-image(src=product.productPhotoArray[0])
              if product.productPhotoArray[1]
                img.product-menu-image(src=product.productPhotoArray[1])
              if product.productPhotoArray[2]
                img.product-menu-image(src=product.productPhotoArray[2])
              if product.productPhotoArray[3]
                img.product-menu-image(src=product.productPhotoArray[4])
              if product.productPhotoArray[4]
                img.product-menu-image(src=product.productPhotoArray[4])
          .product-right-side
            span.main-product-title= product.name
            span.main-product-description Ürün Açıklaması: #{product.description}
            span.main-product-price Ürün Fiyatı: #{product.price}
  .new-product-form-wrapper
    form.new-product-form(action="/admin/products" method="POST")
      span.form-title Yeni Ürün Ekle (Lütfen tüm alanları doldurun)
      span.input-title Kategori
      .category-wrapper
        label.each-category
          input(type="radio" required name="category" value="Profil")
          span Profil
        label.each-category
          input(type="radio" required name="category" value="Dolaplar")
          span Dolaplar
        label.each-category
          input(type="radio" required name="category" value="Duş Tekneleri")
          span Duş Tekneleri
        label.each-category
          input(type="radio" required name="category" value="Küvetler")
          span Küvetler
        label.each-category
          input(type="radio" required name="category" value="Kabinler (5mm) Temperli")
          span Kabinler (5mm) Temperli
        label.each-category
          input(type="radio" required name="category" value="Kabinler (4mm) Temperli")
          span Kabinler (4mm) Temperli
        label.each-category
          input(type="radio" required name="category" value="Kabinler Polisteren")
          span Kabinler Polisteren
        label.each-category
          input(type="radio" required name="category" value="Menfezler")
          span Menfezler
      span.input-title Ürün ismi
      input.form-input(type="text" name="name" placeholder="Ürün İsmi" required autocomplete="off")
      span.input-title Ürün tipi
      .category-wrapper
        label.each-category
          input(type="radio" required name="type" value="paket")
          span Paket
        label.each-category
          input(type="radio" required name="type" value="boy")
          span Boy
        label.each-category
          input(type="radio" required name="type" value="metre")
          span Metre
        label.each-category
          input(type="radio" required name="type" value="adet")
          span Adet
        label.each-category
          input(type="radio" required name="type" value="MDF")
          span MDF
        label.each-category
          input(type="radio" required name="type" value="lake")
          span Lake
        label.each-category
          input(type="radio" required name="type" value="membran")
          span Membran
        label.each-category
          input(type="radio" required name="type" value="rulo")
          span Rulo
      span.input-title Ürün Açıklaması
      textarea.form-input(type="text" name="description" placeholder="Ürün Açıklaması" required autocomplete="off")
      span.input-title Anahtar Kelimeler (Bu kelimeler arama sonuçları listelenirken kullanılacaktır.)
      textarea.form-input(type="text" name="keywords" placeholder="Anahtar Kelimeler (Aralarda boşluk bırakarak yazınız)" required autocomplete="off")
      span.input-title Fiyat
      input.form-input(type="text" name="price" placeholder="Fiyat" required autocomplete="off")
      span.input-title Ürün Fotoğrafları (max 5)
      .images-outer-wrapper
        .images-wrapper
          input.display-none#file-name-array(type="text" name="productPhotoNameArray")
          label.add-new-button
            i.fas.fa-plus
            input.display-none#product-image-input(type="file" name="photo" accept="image/*")
      .form-send-wrapper
        .back-button Geri
        button.send-form-button Oluştur
