extends ./../partials/header
block main
  input.display-none#total-price(type="text" value=totalPrice)
  input.display-none#products(type="text" value=JSON.stringify(products))
  .main-inner-wrapper
    if products.length
      .main-header
        .main-title-wrapper
          span.main-title Alışveriş Sepetim
          span.main-info İstemediğiniz ürünleri sepetinizden çıkarın ve siparişinizi tamamlayın.
        a.finish-button(href="/buy") Siparişi Tamamla
      .products-wrapper
        each product in products
          .basket-each-product(id=product._id)
            .basket-each-product-image-wrapper
              img.basket-each-product-image(src=product.productPhotoArray[0])
            span.basket-product-name #{product.number} adet #{product.name}
            .basket-product-price-wrapper
              if product.onSale
                span.basket-product-old-price #{parseFloat(product.price) * parseFloat(product.number)} ₺
                span.basket-product-price #{parseFloat(product.salePrice) * parseFloat(product.number)} #{product.isDolar ? "$" : "₺"}/#{product.type}
              else
                span.basket-product-price #{parseFloat(product.price) * parseFloat(product.number)} #{product.isDolar ? "$" : "₺"}/#{product.type}
            i.fas.fa-trash.remove-button
    else
      .main-header
        .main-title-wrapper
          span.main-title Alışveriş Sepetim
          span.main-info Sepetinizde hiçbir ürün bulunmuyor.
