extends ./../partials/header
block main
  .product-number-wrapper
    span.product-number-title Sepete Ekle
    span.product-number-info Lütfen eklemek istediğiniz ürün miktarını girin.
    .product-number-input-wrapper
      input.product-number-input(type="number" pattern="[0-9]*" placeholder="Ürün Miktarı" value="1")
    span.product-number-error
    .product-number-button-wrapper
      .product-number-close-button Vazgeç
      .product-number-send-button Sepete Ekle
  if windowProducts && windowProducts.length
    span.window-title Vitrindekiler
    .window-wrapper
      each product in windowProducts
        a.each-window-item(href=`/details?id=${product._id}`)
          .window-item-sale-line
            if product.onSale
              span.window-sale-text -#{product.saleAmount}%
            else
              span.window-sale-text-empty
          .window-product-image-wrapper
            img.window-product-image(src=product.productPhotoArray[0])
          span.window-product-name= product.name
          span.window-product-description= product.description
          if product.onSale
            span.window-product-old-price #{product.price} ₺
            span.window-product-price #{product.salePrice} ₺/#{product.type}
          else
            span.window-product-price #{product.price} ₺/#{product.type}
        .each-window-separator
  .products-wrapper
    if keywords
      span.products-title= generalCategory
      span.keywords-title "#{keywords}" araması için bulunan ürünler
      .products-inner-wrapper
        each product in products
          a.each-product(id=product._id href=`/details?id=${product._id}`)
            .each-product-sale-line
              if product.onSale
                span.each-product-sale-text -#{product.saleAmount}%
              else
                span.each-product-sale-text-empty
            .each-product-image-wrapper
              img.product-image(src=product.productPhotoArray[0])
            span.product-name #{product.name}
            span.product-description #{product.description}
            .product-price-wrapper
              if product.onSale
                span.product-old-price #{product.price} ₺
                span.product-price #{product.salePrice} #{product.isDolar ? "$" : "₺"}/#{product.type}
                if product.isDolar
                  span.product-is-dolar (#{currency * product.salePrice}₺)
              else
                span.product-old-price-empty -
                span.product-price #{product.price} #{product.isDolar ? "$" : "₺"}/#{product.type}
                if product.isDolar
                  span.product-is-dolar (#{currency * product.price}₺)
            if (!basket.includes(product._id.toString()))
              .add-to-basket-button(id=product._id) Sepete Ekle
            else
              .remove-from-basket-button(id=product._id) Sepetten Çıkar
    else if category
      span.products-title= category
      .products-inner-wrapper
        each product in products
          a.each-product(id=product._id href=`/details?id=${product._id}`)
            .each-product-sale-line
              if product.onSale
                span.each-product-sale-text -#{product.saleAmount}%
              else
                span.each-product-sale-text-empty
            .each-product-image-wrapper
              img.product-image(src=product.productPhotoArray[0])
            span.product-name #{product.name}
            span.product-description #{product.description}
            .product-price-wrapper
              if product.onSale
                span.product-old-price #{product.price} ₺
                span.product-price #{product.salePrice} #{product.isDolar ? "$" : "₺"}/#{product.type}
                if product.isDolar
                  span.product-is-dolar (#{currency * product.salePrice}₺)
              else
                span.product-old-price-empty -
                span.product-price #{product.price} #{product.isDolar ? "$" : "₺"}/#{product.type}
                if product.isDolar
                  span.product-is-dolar (#{currency * product.price}₺)
            if (!basket.includes(product._id.toString()))
              .add-to-basket-button(id=product._id) Sepete Ekle
            else
              .remove-from-basket-button(id=product._id) Sepetten Çıkar
    else
      span.products-title= generalCategory
      .products-inner-wrapper
        each category in categories
          a.each-category(href=`/?category=${category._id}&categoryName=${category.name}`)
            .each-product-image-wrapper
              img.product-image(src=category.profilePhoto)
            span.category-name= category.name
            span.category-description #{category.products.length} ürün
            .category-details
              i.fas.fa-search
              span Ürünleri görmek için tıklayın
          
