extends ./../partials/header
block main
  .product-number-wrapper
    span.product-number-title Sepete Ekle
    span.product-number-info Lütfen eklemek istediğiniz ürün miktarını girin.
    .product-number-input-wrapper
      input.product-number-input(type="number" pattern="[0-9]*" placeholder="Ürün Miktarı" value="1")
    span.product-number-error
    .product-number-button-wrapper
      .product-number-close-button Vazgeç
      .product-number-send-button Sepete Ekle
  if category == "Tüm Ürünler" && !keywords
    .notifications-wrapper
      .each-notification
  .products-wrapper
    span.products-title= category
    if keywords
      span.keywords-title "#{keywords}" araması için bulunan ürünler
    .products-inner-wrapper
      each product in products
        a.each-product(id=product._id href=`/details?id=${product._id}`)
          .each-product-image-wrapper
            img.product-image(src=product.productPhotoArray[0])
          span.product-name #{product.name}
          span.product-description #{product.description}
          span.product-price #{product.price} #{product.isDolar ? "$" : "₺"}/#{product.type}
            if product.isDolar
              span.product-is-dolar (#{currency * product.price}₺)
          if (!basket.includes(product._id.toString()))
            .add-to-basket-button(id=product._id) Sepete Ekle
          else
            .remove-from-basket-button(id=product._id) Sepetten Çıkar
