extends ./../partials/header
block main
  .product-number-wrapper
    span.product-number-title Sepete Ekle
    span.product-number-info Lütfen eklemek istediğiniz ürün miktarını girin.
    .product-number-input-wrapper
      input.product-number-input(type="number" pattern="[0-9]*" placeholder="Ürün Miktarı" value="1")
    span.product-number-error
    .product-number-button-wrapper
      .product-number-close-button Vazgeç
      .product-number-send-button Sepete Ekle
  .main-product-wrapper
    .product-left-side
      .main-product-image-wrapper
        img.main-product-image(src=product.productPhotoArray[0])
      .product-images-menu
        img.product-menu-image.selected-menu-image(src=product.productPhotoArray[0])
        if product.productPhotoArray[1]
          img.product-menu-image(src=product.productPhotoArray[1])
        if product.productPhotoArray[2]
          img.product-menu-image(src=product.productPhotoArray[2])
        if product.productPhotoArray[3]
          img.product-menu-image(src=product.productPhotoArray[4])
        if product.productPhotoArray[4]
          img.product-menu-image(src=product.productPhotoArray[4])
    .product-right-side
      .main-product-sale-line
        if product.onSale
          span.main-product-sale-text -#{product.saleAmount}%
        else
          span.main-product-sale-text-empty
      span.main-product-title= product.name
      span.main-product-description= product.description
      .main-product-price-wrapper
        if product.onSale
          span.main-product-old-price #{product.price} ₺
          span.main-product-price #{product.salePrice} #{product.isDolar ? "$" : "₺"}/#{product.type}
          if product.isDolar
            span.product-is-dolar (#{currency * product.salePrice}₺)
        else
          span.main-product-price #{product.price} #{product.isDolar ? "$" : "₺"}/#{product.type}
          if product.isDolar
            span.product-is-dolar (#{currency * product.price}₺)
      if (!basket.includes(product._id.toString()))
        .add-to-basket-button-main(id=product._id) Sepete Ekle
      else
        .remove-from-basket-button-main(id=product._id) Sepetten Çıkar
  span.products-title Benzer Ürünler:
  .products-wrapper
    .products-inner-wrapper
      each product in products
        a.each-product(id=product._id href=`/details?id=${product._id}`)
          .each-product-sale-line
            if product.onSale
              span.each-product-sale-text -#{product.saleAmount}%
            else
              span.each-product-sale-text-empty
          .each-product-image-wrapper
            img.product-image(src=product.productPhotoArray[0])
          span.product-name #{product.name}
          span.product-description #{product.description}
          .product-price-wrapper
            if product.onSale
              span.product-old-price #{product.price} ₺
              span.product-price #{product.salePrice} #{product.isDolar ? "$" : "₺"}/#{product.type}
              if product.isDolar
                span.product-is-dolar (#{currency * product.salePrice}₺)
            else
              span.product-price #{product.price} #{product.isDolar ? "$" : "₺"}/#{product.type}
              if product.isDolar
                span.product-is-dolar (#{currency * product.price}₺)
          if (!basket.includes(product._id.toString()))
            .add-to-basket-button(id=product._id) Sepete Ekle
          else
            .remove-from-basket-button(id=product._id) Sepetten Çıkar
